* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
  font-size: 16px;
}

header, footer {
    display: flex;
    align-items: center;
    background: cadetblue;
    flex-direction: column;
    flex-shrink: 0;
    padding: 1rem 0;
}

footer {
    height: 3.3rem;
    justify-content: center;
}

aside {
    align-items: center;
    background: brown;
    display: inline-flex;
    justify-content: center;
    min-width: max-content;
    width: 10%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    text-align: center;
    min-height: 100vh;
}

#main_block {
    display: flex;
    flex: 1;
}

#logo_block {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

#logo {
    height: 2rem;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.NavBtn {
    background-color: burlywood;
    border: 0.15rem solid brown;
    line-height: 1rem;
    border-radius: 5px;
    width: 100%;
    margin: 1rem;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    font-size: medium;
    font-weight: normal;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    background: antiquewhite;
    justify-content: center;
}

main h1 {
    margin: 2rem 0;
}

main hr {
    width: 80%;
    display: flex;
    margin: 2rem 0;
    border: 0.05rem solid black;
}

main p {
    padding: 2rem 0;
    text-align: left;
}