* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
  font-size: 16px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

td {
    font-size: large;
    font-weight: bold;
    /* border: 2px solid grey; */
    text-align: center;
    /* padding: 0; */
}

#table_body {
    background-color: antiquewhite;
    min-height: 100vh;
}

#header, #footer {
    background-color: cadetblue;
    padding: 1rem 0;
}

#header {
    height: 8.3rem;
}

#footer {
    height: 3.3rem;
}

#nav {
}

#logo_block {
}

#logo_block td {
    height: 2rem; 
}

#logo {
    height: 2rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

#nav td {
    vertical-align: middle;
}


.nav_btn {
    display: block;
    background-color: burlywood;
    border: 0.15rem solid brown;
    border-radius: 5px;
    line-height: 1rem;
    margin: 1rem;
    padding: 1rem 0;    
}

#right_side, #left_side {
    background-color: brown;
    width: 10%;
}

#main {
    align-items: center;
    width: 80%;
    padding: 2rem;
    font-size: medium;
    font-weight: normal;
    text-align: center;
}

#main h1 {
    padding: 2rem 0;
}

#main hr {
    margin: 2rem 10%;
    border: 0.05rem solid black;
}

#main p {
    padding: 2% 0;
    text-align: left;
}
